<?xml version="1.0"?>
<config>
  <modules>
    <Mss_MageOptimize>
      <version>0.1.0</version>
    </Mss_MageOptimize>
  </modules>
  <frontend>
      <routers>
          <mageoptimize>
            <use>standard</use>
              <args>
                <module>Mss_MageOptimize</module>
                <frontName>mageoptimize</frontName>
              </args>
          </mageoptimize>
      </routers>
      <events>
            <controller_action_layout_load_before>
                <observers>
                    <beforeLayoutLoad>
                        <class>mageoptimize/observer</class>
                        <method>beforeLayoutLoad</method>
                    </beforeLayoutLoad>
                </observers>
            </controller_action_layout_load_before>
            <core_block_abstract_to_html_before>
                <observers>
                    <mss_mageOptimize>
                        <type>singleton</type>
                        <class>mageoptimize/observer</class>
                        <method>coreBlockAbstractToHtmlAfter</method>
                    </mss_mageOptimize>
                </observers>
            </core_block_abstract_to_html_before>
      </events>
       <layout>
          <updates>
            <mageoptimize>
              <file>mageoptimize.xml</file>
            </mageoptimize>
          </updates>
        </layout>
  </frontend>
  <global>
    <models>
        <mageoptimize>
            <class>Mss_MageOptimize_Model</class>            
        </mageoptimize>       
    </models>
    <helpers>
      <mageoptimize>
        <class>Mss_MageOptimize_Helper</class>
      </mageoptimize>
    </helpers>
    <blocks>
      <mageoptimize>
        <class>Mss_MageOptimize_Block</class>
      </mageoptimize>
    </blocks>
  </global>
</config> 